.outside
{
    display: flex;
    flex-direction: row;  
    align-items: center; 
    margin-bottom: 1.2rem;    
}

.icon
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    background-color: #242C2F;
    border-radius: 10px;   
    margin-left: 1.2rem;
    margin-right: 0.5rem;
    min-width: 2.5rem;
    min-height: 2.5rem;
}

#icon
{
    height: 1.7rem;
}

.forma
{
    display: flex;
    flex-direction: column;
    font-family: 'Poiret One', sans-serif;
    font-size: 1rem;
    color: #FFF ;
}

#inst
{
    -webkit-text-stroke: 0.05rem #FFF; 
}