.newIdioma
{
    display: flex;
    flex-direction: row;
    margin-top: 25px;
}

/* Add button */
.newIdioma button
{
    background-color: #242C2F;
    border: none;
    color: #fff;
    font-family: 'Poiret One', sans-serif;
    font-size: 1rem;
    border-radius: 10px;
    padding: 0.5rem;
    margin-left: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    -webkit-box-shadow: 0 0 2px rgba(27, 27, 27, 0.5);
}

#plusTxt
{
    margin-left: 0.5rem;
}

.idiomaNewBut button:hover
{
    background-color: #1b8299;
    transition: 0.1s;
    transform: scale(1.05);
}

/* Input TEXT field */
::ng-deep .newIdioma input
{
    background-color: #56646b;
    border-radius: 6px;
    border-width: 0px;
    padding: 4px;
    border: 1px solid #5f6d75;
    width: 230px;
}

::ng-deep .newIdioma input:focus
{
    outline: none !important;
    border:1px solid #1b8299;
    box-shadow: 0 0 0px #719ECE;
}

::placeholder
{
    color: #fff;
    font-family: 'Poiret One', sans-serif;
    font-size: 1.05rem;
}

::ng-deep .ng-valid /* Input text typed color */
{
    color: #FFF;
    -webkit-text-stroke: 0.01rem #FFF;
}

::ng-deep .newIdioma .ant-form-item-control-input-content input /* Input size */
{
    width: 200px;
}
