<form class="newPsw" nz-form [formGroup]="pswForm" (ngSubmit)="sendIdioma()">
    <nz-form-item>
        <nz-form-label [nzSm]="2" [nzXs]="24" nzFor="oldPwd" [nzNoColon]="true"></nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24" nzErrorTip="Por favor insira a senha antiga!">
            <input nz-input type='password' id="oldPwd" formControlName="oldPws" placeholder="Senha Antiga"/>
        </nz-form-control>
    </nz-form-item> 
    
    <nz-form-item>
        <nz-form-label [nzSm]="2" [nzXs]="24" nzFor="newPsw" [nzNoColon]="true"></nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24" nzErrorTip="Por favor insira a nova senha!">
            <input nz-input type='password' id="newPsw" formControlName="newPsw" placeholder="Nova Senha"/>
        </nz-form-control>
    </nz-form-item>    
  
    <nz-form-item nz-row class="pwdNewBut">
        <nz-form-control [nzSpan]="14" [nzOffset]="2">
            <button nz-button nzType="primary" [disabled]="!pswForm.valid">
            <img id="plusLogo" src="../../assets/icons/plus.svg"> 
            <div id="plusTxt">Adicionar</div>
        </button>
        </nz-form-control>
    </nz-form-item>
</form>