nz-layout{
    min-height: 100vh;
}

body
{
    padding-top: 50px;
    background-color: #242C2F;
}

nz-layout{ 
    background-color: #242C2F;
    background-image: url("/assets/logo-white.svg");    
    background-size: cover;

}

.inner-content 
{
    background: #242C2F;
    min-height: 360px;
}

#menu-bg
{
    font-family: 'Poiret One', sans-serif;
    -webkit-text-stroke: 0.03rem #9ba5a8; 
    font-size: 1.1rem;
    background-color: #334047;
    padding-top: 6px;
}

::ng-deep .ant-layout-sider-children {
    margin-left: 1rem;
    margin-right: 1rem;
}

/* Menu compressed */
.trigger 
{
    position: fixed;
    bottom: 30px;
    left: 20px;
    font-size: 18px;
    line-height: 40px;
    cursor: pointer;
    transition: color 0.3s;
    background: #242C2F;
    color: #566e7a;
    width: 50px;
    border-radius: 10px;
}

.trigger:hover 
{
    background: #163049;
    transition: color 0.3s;
}

.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected, .ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected, .ant-menu.ant-menu-dark .ant-menu-item-selected 
{
    background-color: #506066;
    color: #566e7a;
    border-radius: 10px;
}

/* Menu icon, name and arrow */
.profilePic
{
    max-width: 70px;
    width:auto;
    margin:auto;
    border-radius: 10px;
}

.profileDiv
{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menuLabel
{
    margin-left: 13px;
}

.menuArrow
{
    transform: scale(0.5);
    margin-left:auto;
    margin-right:0;
}

.menuButton
{
    display: flex;
    flex-direction: row;
}

::ng-deep .ant-layout-sider-trigger {
    background: #242C2F;
}

/* Scroolbar customize */
::ng-deep ::-webkit-scrollbar 
{
    width: 0.625rem;
    overflow-y: scroll;
    background: rgb(180, 180, 180);
    box-shadow: inset 0 0 4px #707070;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

::ng-deep ::-webkit-scrollbar-thumb 
{
    background: #717f85;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}