::ng-deep .ant-modal-content
{
    background-color: #272f33;
    border-radius: 10px;
    padding: 0px;  
    color: #FFF;
    font-family: 'Poiret One', sans-serif;
    -webkit-text-stroke: 0.04rem #FFF;  
}

::ng-deep .anticon 
{
    color: #fff;
} 

::ng-deep .ant-modal-body 
{
    padding: 0px;
}

::ng-deep .ant-modal-header
{    
    background-color: #272f33;  
    border-radius: 10px;
    border: 1px solid #272f33;
    ;
}

::ng-deep .ant-modal-title
{
    color: #FFF;
    font-family: 'Poiret One', sans-serif;
    font-size: 1.5rem;
    -webkit-text-stroke: 0.03rem rgb(255, 255, 255);
}

::ng-deep .ant-modal-footer 
{
    display: none;
    background-color: #272f33;  
    border-radius: 10px;
    border: 1px solid #272f33;
    padding: 10px;
}

::ng-deep .ant-btn-primary 
{
    color: #fff;
    font-family: 'Poiret One', sans-serif;
    -webkit-text-stroke: 0.03rem rgb(255, 255, 255);
    background: #6b0606;
    border-color: #6b0606;
    margin-bottom: 16px;
}

::ng-deep .ant-btn 
{
    font-family: 'Poiret One', sans-serif;
}

::ng-deep .ant-btn-primary:hover 
{
    color: #fff;
    background: #6b0606;
    border-color: #6b0606;
}

::ng-deep.ant-btn-primary[disabled], .ant-btn-primary[disabled]:active, .ant-btn-primary[disabled]:focus, .ant-btn-primary[disabled]:hover 
{
    color: rgba(0,0,0,.25);
    background: #a0a0a0;
    border-color: #a0a0a0;
}

/* FORM */

.form
{
    margin-top: 1rem;
    margin-left: 2rem;
    font-family: 'Poiret One', sans-serif;
    color: #FFF;   
    -webkit-text-stroke: 0.03rem rgb(255, 255, 255);
}

::ng-deep .ant-popover-inner-content {
    padding: 12px 16px;
    color: rgba(0,0,0,.85);
    white-space: pre-line;
}

::ng-deep label
{
    color: #FFF;
    font-size: 1.1rem !important; 
}

::ng-deep .insideForm { /* Espaço entre box dos icones nz-form-item */
    margin: 0;
    margin-top: 10px;
}

::ng-deep .ant-col-24.ant-form-item-label, .ant-col-xl-24.ant-form-item-label, .ant-form-vertical .ant-form-item-label 
{ /* Espaço entre box dos icones nz-form-label */
    padding: 0;
    line-height: 0;
}

/* Input DATE field */
::ng-deep .formRadio .ant-picker {
    margin: 18px;
    align-items: normal;
    width: 300px;
}

/* Scroolbar customize */
::ng-deep ::-webkit-scrollbar 
{
    width: 0.625rem;
    overflow-y: scroll;
    background: rgb(180, 180, 180);
    box-shadow: inset 0 0 4px #707070;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

::ng-deep ::-webkit-scrollbar-thumb 
{
    background: #717f85;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

::ng-deep input:focus
{
    outline: none !important;
    border:1px solid #935a19;
    box-shadow: 0 0 0px #719ECE;
}

::ng-deep .ant-form-item-control-input-content input /* Input size */
{
    width: 300px;
}

/* Add button */
button
{
    background-color: #ccba1b;
    border: none;
    color: #fff;
    font-family: 'Poiret One', sans-serif;
    font-size: 1rem;
    border-radius: 10px;
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    -webkit-box-shadow: 0 0 2px rgba(27, 27, 27, 0.5);
    margin-left: 75%;
}

button:hover
{
    background-color: #b6a71e;
    transition: 0.1s;
    transform: scale(1.05);
}

/* SVG with fields */
.formRadio
{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.radioIconSvg
{
    width: 30px;
    filter: brightness(0) saturate(100%) invert(80%) sepia(86%) saturate(391%) hue-rotate(351deg) brightness(104%) contrast(97%);
}

.radioIcon
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #42525a;
    min-width: 90px;
    min-height: 90px;
    border-radius: 10px; 
}

p
{
    margin-bottom: 0;
}

.radioIconTxt
{
    color: #fff;
    font-family: 'Poiret One', sans-serif;
    -webkit-text-stroke: 0.01rem rgb(255, 255, 255);   
    margin-top: 5px; 
}
.formDiv
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/* Notification box */
::ng-deep .ant-notification-close-icon /* Botão x da notificação*/
{
    filter: brightness(0) saturate(100%) invert(80%) sepia(86%) saturate(391%) hue-rotate(351deg) brightness(104%) contrast(97%);
}

::ng-deep .anticon-check-circle /* Icone de sucesso */
{
    filter: invert(54%) sepia(78%) saturate(2068%) hue-rotate(82deg) brightness(107%) contrast(121%);
}

::ng-deep .anticon-exclamation-circle /* Icone de erro */
{
    filter: invert(19%) sepia(70%) saturate(7236%) hue-rotate(356deg) brightness(107%) contrast(119%);
}

/* Add button */
.radioDiv
{
    display: flex;
    flex-direction: column;
    align-items: center;
    -webkit-text-stroke: 0.01rem rgb(255, 255, 255);  
    color: #FFF;
}

.radioLabel
{
    margin-bottom: 5px;
}

.ant-radio-button-wrapper {
    -webkit-text-stroke: 0.01rem rgb(255, 255, 255);  
    color: #FFF;
}